@import "../../../styles/variables.scss";

.TaskCard {
  width: 300px;
  height: 420px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 9px 10px 0 $basicColorBright;
  transition: 0.3s all ease-out;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  h3 {
    margin: 0;
    padding: 0;
    font-size: $subHeaderFontSize;
    font-weight: bold;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  width: 50px;
}

.user {
  display: flex;
  align-items: center;

  span {
    font-weight: bold;
    margin-right: 5px;
  }
}

.content {
  max-height: 210px;
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 15%;
}
