//text color:
$textColor: rgb(12, 11, 11);
$textColorLight: rgb(255, 255, 255);

//Border colors
$borderColor: rgba(102, 94, 94, 0.123);

// background colors

$basicColor: #575e72;
$basicColorBright: #6d7385;
$successColor: #02b111;
$errorColorBG: rgb(151, 12, 12);
$errorColor: rgb(209, 83, 83);

//fonts
$headerFontSize: 30px;
$subHeaderFontSize: 18px;
$mainFontSize: 16px;

//paddings
$mainPadding: 20px;
